/*
 ------------------
 Map styles
 ------------------
 */
.mapContainer{
  width: 100%;
}

/*
 ------------------
 InfoBlock styles
 ------------------
 */
.infoBlock{
  background-color: #11264a;
  color: white;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.infoBlockText{
  margin-right: 20px;
}
.placeName{
  font-weight: bold;
}
.hideBtn{
  border: none;
  background-color: #a5b9dc;
  padding: 10px 20px;
  color: #11264a;
  font-weight: bold;
  border-radius: 0;
}
.hideBtn a{
  color: #11264a;
}

/*
 ------------------
 AddPlaces button styles
 ------------------
 */
.addMarkersBtn{
  background-color: #11264a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 50px;
}